<h1 align="center">ParQueen</h1>
<h3>Logged in as <%=@user.name%></h3>
<%= link_to "Log Out", logout_path %>
<br>
<br>
<button onclick="getLocation()">Park Here</button>
<br>
<div id="map"></div>
<br>
<div id="spot_info"></div>
